<!--Navbar-->
<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark elegant-color"
>
  <!-- Navbar brand -->
  <a class="navbar-brand" href="{{ "/" | relative_url }}"><img src="{{ "/assets/img/logo.png" | relative_url }}" height="30" alt="Brand" /><small class="text-muted">scottkillen.com</small></a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#basicExampleNav"
    aria-controls="basicExampleNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="collapsibleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      {% if page.url == '/' %}
      <li class="nav-item active">
        <span class="nav-link">Home<span class="sr-only">(current)</span></span>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      {% endif %}

      {% for item in site.data.navbar.links %}
        <li {% if item.url == page.url %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
          <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <!-- Links -->

    {% include search-lunr.html %}

  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<div id="lunrsearchresults">
    <ul></ul>
</div>
