<div class="card">
  <div class="view overlay">
    {%- if post.image contains "://" -%}
    <img class="card-img-top" src="{{post.image }}">
    {%- else -%}
    {%- include picture.html img=post.image alt=post.title class="card-img-top" slug=post.slug -%}
    {%- endif -%}
    <a href="{{ post.url | relative_url }}"
      ><div class="mask rgba-white-slight"></div
    ></a>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h5>
    <p class="card-text">
      {% if post.description %}{{ post.description }}{% else %}{{ post.excerpt |
      strip_html | truncatewords:25 }}{% endif %}
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</small>
  </div>
</div>
