{% assign social = site.social_links %}

<!-- Social buttons -->
<div class="text-center text-md-right">
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://www.flickr.com/photos/scottkillen"
        title="scottkillen"
      >
        <i class="fab fa-flickr"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://github.com/ScottKillen"
        title="ScottKillen"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://www.instagram.com/scottdkillen/"
        title="scottdkillen"
      >
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://twitter.com/scottkillen"
        title="scottkillen"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://dev.to/scottkillen"
        title="scotkillen"
      >
        <i class="fab fa-dev"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://www.deviantart.com/skillen"
        title="skillen"
      >
        <i class="fab fa-deviantart"></i>
      </a>
    </li>
  </ul>
</div>
