{% assign social = site.social_links %}

<!-- Social buttons -->
<div class="text-center text-md-right">
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://www.flickr.com/photos/scottkillen"
        title="scottkillen"
        >{% include flickr.svg %}</a
      >
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://github.com/ScottKillen"
        title="ScottKillen"
        >{% include github.svg %}</a
      >
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://www.instagram.com/scottdkillen/"
        title="scottdkillen"
        >{% include instagram.svg %}</a
      >
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://twitter.com/scottkillen"
        title="scottkillen"
        >{% include twitter.svg %}
      </a>
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://dev.to/scottkillen"
        title="scotkillen"
        >{% include devto.svg %}</a
      >
    </li>
    <li class="list-inline-item">
      <a
        rel="me"
        class="btn-floating btn-sm rgba-white-slight mx-1"
        href="https://www.deviantart.com/skillen"
        title="skillen"
        >{% include deviantart.svg %}</a
      >
    </li>
  </ul>
</div>
