---
---

.primary-heading {
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.section-title.secondary-heading {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.card-deck .card.blank {
  box-shadow: none;
}

.lunrsearchresult {
  .url {
    color: silver;
  }
  a {
    display: block;
    color: #777;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
  a:hover .title {
    text-decoration: underline;
  }
}

footer {
  hr.border-bottom {
    border-bottom-color: #3b465e !important;
  }
}
