---
---

.card-deck .card.blank {
  box-shadow: none;
}

.lunrsearchresult {
  .url {
    color: silver;
  }
  a {
    display: block;
    color: #777;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
  a:hover .title {
    text-decoration: underline;
  }
}

footer {
  hr {
    border-top-color: #3b465e;
  }
}

.navbar-brand svg {
  height: 30px;
  width: 30px;
  margin-right: .25rem !important;
  circle {
    stroke: #9e9e9e;
  }
  path {
    fill: #9e9e9e;
  }
}

a.deco-none {
  color: inherit;
  text-decoration: none;
}

.end-logo {
  svg {
    height: 3em;
  }
}

footer {
  svg {
    height: 1em;

    .fa-secondary {
      opacity:.4;
    }
  }
}

.tags {
  .badge {
    background-color: #9e9e9e;
  }
}

@media print {
  footer {
    svg {
      path {
        fill: #000;
      }
    }
  }
}
