---
---

.card-deck .card.blank {
  box-shadow: none;
}

.lunrsearchresult {
  .url {
    color: silver;
  }
  a {
    display: block;
    color: #777;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
  a:hover .title {
    text-decoration: underline;
  }
}

footer {
  hr {
    border-top-color: #3b465e;
  }
}
