---
layout: default
---

<section id="introduction">

  <div class="mainheading">
    <h1>{{ site.title }}</h1>
    <p class="lead">
      {{ site.description }}
    </p>
  </div>
</section>

<section id="posts" class="mb-4 d-print-none">
  <hr class="mb-4" />
  {% for post in paginator.posts %}
  {% assign remainder = forloop.index0 | modulo: 3 %}
  {% if remainder == 0 %}
  <div class="card-deck mb-3">
    {% endif %}
    {% include post_card.html %}
    {% if remainder > 1 %}
  </div>
  {% endif %}
  {% endfor %}
  {% if remainder == 0 %}
  <div class="card blank"></div>
  {% endif %}
  {% if remainder != 2 %}
  <div class="card blank"></div>
  </div>
  {% endif %}
</section>

{% if paginator.total_pages > 1 %}
{%include pagination.html %}
{% endif %}
