---
layout: default
---

<div class="row">
  <div class="col-lg-9">
    <article>
      <div class="mainheading">
        <!-- Post Title -->
        <h1 class="posttitle">{{ page.title }}</h1>
        <p>
          <small>
            <span class="post-date"
              >Posted
              <time
                class="post-date"
                datetime="{{ page.date | date_to_xmlschema }}"
                >{{ page.date | date: "%B %-d, %Y" }}</time
              ></span
            >
            {% if page.date_modified %} (Updated:
            <time
              datetime="{{ page.date_modified | date_to_xmlschema }}"
              itemprop="dateModified"
              >{{ page.date_modified | date: "%B %-d, %Y" }}</time
            >) {% endif %}
          </small>
        </p>
        <hr />
      </div>

      <!-- Post Featured Image -->
      {%- if page.image -%}
      <figure class="figure">
        {%- if page.image_link -%}<a href="{{ page.image_link }}">{%- endif -%}
        {%- if page.image contains "://" -%}
        <img class="featured-image img-fluid" src="{{ page.image }}" alt="{{ page.title }}">
        {%- else -%}
        {%- include picture.html img=page.image alt=page.title class="featured-image img-fluid" -%}
        {%- endif -%}
        {%- if page.image_link -%}</a>{%- endif -%}
        {%- if page.caption -%}
        <figcaption class="figure-caption text-right">{{ page.caption }}</figcaption>
        {%- endif -%}
      </figure>
      {%- endif -%}
      <!-- End Featured Image -->

      <div class="article-post">{{content}}</div>
      <p class="mt-3 end-logo text-center">{% include logo.svg %}</p>
      {%- include disqus_comments.html -%}
      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
  </div>
  <div class="col-md-3 pr-0 post-tags d-print-none">
    <div class="card my-4">
      <h5 class="card-header">Tags<h5>
      <div class="card-body">
        <ul class="tags list-unstyled mb-0">
        {% assign sortedTags = page.tags | sort %}
        {% for tag in sortedTags %}
          <li class="badge">
            {% assign tag_slug = tag | slugify %}
            <a class="deco-none" href="{{ '/tags/' | append: tag_slug | relative_url }}" >{{ tag }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% assign relatedPosts = site.related_posts | sample: 3 %}
    {% if relatedPosts.size > 1 %}
    <div class="card my-4">
      <h5 class="card-header">Related Posts<h5>
      <div class="card-body">
        <ul class="list-unstyled mb-0">
        {% for related in relatedPosts %}
          <li><a href="{{related.url}}">{{ related.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>
